# Caminhos de dados
DATA_RAW_PATH=data/raw/transacoes.csv
DATA_PROCESSED_PATH=data/processed/

# Airflow / Banco de dados
AIRFLOW__CORE__EXECUTOR=LocalExecutor
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow