# Variáveis de ambiente
.env

# Dados
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.csv
!tests/fixtures/transacoes_sample.csv

# Logs
logs/*
!logs/.gitkeep
*.log

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid

# Python
__pycache__/
.venv/
venv/
*.pyc
